nav {
  color: white;
  display: flex;
  flex-direction: column;
  float: left;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 20%;
}

.nav-div {
  align-items: center;
  display: flex;
  margin: 50px 15px 0 30px;
}

.nav-div :hover {
  margin-left: 5px;
}

.nav-div p {
  font-size: 1.5em;

}


.icon {
  height: 2.5rem;
  margin-right: 15px;
  width: 2.5rem;
}