.NewsArticle {
  background: white;
  border-radius: 2px;
  break-inside: avoid;
  height: 75%;
  margin: auto 2em;
  width: 80%;
}

.NewsArticle-img {
  border-radius: 5px;
  border: 3px solid rgba(218, 168, 92, 0.9);
  height: 288px;
  margin: 1em;
  object-fit: cover;
  width: 512px;
}

.NewsArticle-headline {
  font-size: 1.4em;
}

.NewsArticle-description {
  font-size: larger;
  margin-top: 2rem;
}

.NewsArticle-link {
  font-size: medium;
  margin: auto;
}

.NewsArticle-link :hover {
  background-color: yellow;
}